body {
    /* background-color: rgb(0, 0, 0); */
}

.comoncolor{
    background-color: rgb(0, 0, 0);
}
.sliderbgcolor {
    background-color: rgb(0, 0, 0);
}
.logomap {
    width: 13em;
    height: 2.6em;
}

.navbgcolor {
    background-color: rgb(6, 6, 6);
}

.navani {
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 4px 0; */
    animation: slide-down 0.7s;
    /* opacity: 1; */
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ancore {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    transition: transform .2s;
}

.ancore:hover {
    color: rgb(40, 8, 250);
    transform: scale(1.1);
}

.mactive {
    color: rgb(40, 8, 250);
}

/* .form-control:focus {
    border-color: #c4c1c4;
    box-shadow: 0px 1px 1px rgba(163, 204, 240, 0.075) inset, 0px 0px 8px rgba(38, 159, 220, 0.5);
} */

.search-input {
    background: #b5d1f7;
}

.search-input:focus {
    background: #aeccf7;
    border-color: #79a2fb;
    box-shadow: 0px 1px 1px rgba(163, 204, 240, 0.075) inset, 0px 0px 3px rgba(38, 159, 220, 0.5);
}

.slidertext {
    font-size: 4.625rem;
    /* line-height: 5.125rem; */
}
.searchbtn {
    margin-top: 2px;
}

.backgdoundcolor-green{
    background-color:rgba(0, 0, 0);
}

.categorybuttonfont {
    font-size: 1.1rem;
    font-weight: 500;
    color:rgb(25, 23, 23);
}

.productlink {
    background-color:rgb(89, 105, 248);
    color:rgb(255, 255, 255);
}

.footerbg {
    background-color: rgb(0, 0, 0);
}

.iconcolor {
    color:rgb(49, 179, 250);
}

.categoriescolor {
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.star{
    color: rgb(240, 140, 8);
}

/* .star:hover{
    color: rgb(240, 140, 8);
} */

